<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForwardMailsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="serilog:using" value="Serilog.Sinks.ColoredConsole" />
    <add key="serilog:using" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\tmp\FwMailLogs\svc-beotlk-{Date}.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
      <ForwardMailsService.Properties.Settings>
        <setting name="DeleteWhenForwarded" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ExchangeVersion" serializeAs="String">
          <value>Exchange2010_SP2</value>
        </setting>
        <setting name="ProcessIntervalMs" serializeAs="String">
          <value>10000</value>
        </setting>
        <setting name="SourceInboxMailsSubFolderName" serializeAs="String">
          <value>WaitingToBeForwarded</value>
        </setting>
        <setting name="DestinationInboxMailsSubFolderName" serializeAs="String">
          <value>Forwarded</value>
        </setting>
        <setting name="MailboxSMTP" serializeAs="String">
          <value>mail1@example.org</value>
        </setting>
        <setting name="ForwardAddress" serializeAs="String">
          <value>mail2@example.org</value>
        </setting>
      </ForwardMailsService.Properties.Settings>
    </applicationSettings>
</configuration>